{% extends 'base.html' %}

{% block main %}

<div  class="container">
    <div class="jumbotron" class="row">
        <form  method="POST">
            <h3>Cadastro Funcionario</h3>
            {% csrf_token %}
            {{form}}
            <br>
            <button class="btn btn-success" type="submit">Cadastrar</button>
            <a class="btn btn-danger" href="{% url 'funcionario_home' %}">Cancelar Cadastro</a>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}  
    {% include 'footer.html' %}
{% endblock %}