{% extends "base.html" %}
{% load filters %}
{% load mytags %}

{% block stitle %} Painel | Admin  {% endblock %}

{% block main %}

{% include 'header.html' %}

<h1 style="text-align:center;">PAINEL HOME </h1>

<br>
<div class="row g-2">
    <div class="col-6">
        <div class="p-3 border bg-light">
        <a class="btn btn-danger" href="#" >Configurações de Setor</a>
        </div>
        <br>
    </div>
    <div class="col-6">
        <div class="p-3 border bg-light">
        <a class="btn btn-primary" href="{% url 'funcionario_home' %}">Configurações de Funcionarios</a>
    </div>
    <br>
    </div>
    <div class="col-6">
        <div class="p-3 border bg-light">
        <a class="btn btn-primary" href="{% url 'protocolo_home' %}" >Configurações de Protocolo</a>
        </div>
    </div>
    <div class="col-6">
        <div class="p-3 border bg-light">
        <a class="btn btn-primary" href="{% url 'setor_home' %}" >Configurações de Setor</a>
        </div>
    </div>
    </div>
    <a class="bt btn-allert" href="{% url 'homepage' %}">Voltar</a>
{% endblock %}
